<mat-drawer-container class="example-container" autosize [hasBackdrop]="false">
    <!-- <mat-toolbar color="primary" class="mat-elevation-z4">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="togglePrevState(); drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span routerLink="/home">eBantan</span>
            <span class="example-spacer"></span>
            <button mat-button mat-mini-fab class="mx-4" color="" (click)="reload()">
                <span class=""><mat-icon>refresh</mat-icon></span>
            </button>
            <button mat-button mat-mini-fab class="mx-2" color="" [matMenuTriggerFor]="userMenu">
                <span class=""><mat-icon>account_circle</mat-icon></span>
            </button>
            <mat-menu #userMenu="matMenu" class="p-3 text-dark">
                <h1>U</h1>
            </mat-menu>
            <button mat-button mat-mini-fab class="mx-4" color="" [matMenuTriggerFor]="settingsMenu">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #settingsMenu="matMenu">
                <button mat-menu-item (click)="keyboardHelp.toggle()">View Hot Keys</button>
                <button mat-menu-item (click)="toggleDarkMode()">Toggle Theme (Ctrl+Shift+D)</button>
            </mat-menu>
            <button mat-button mat-mini-fab color="warn" class="example-icon" (click)="logout()" matTooltip="Logout">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar> -->

    <mat-drawer #drawer class="example-sidenav mat-elevation-z24" mode="side" [opened]="prevSate">
        <form [formGroup]="configForm">
            <input formControlName="name" (keyup)="nameChanged()" placeholder="Type Name..." />
            <br />
            <br />
            <button mat-raised-button color="primary" type="button">Save</button>
        </form>
    </mat-drawer>
    <Resume></Resume>
</mat-drawer-container>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'?'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>
